<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Usuario</title>
    <link rel="stylesheet" href="../public/css/HistorialUsuario.css">
</head>
<body>
    <div class="container">
        <h1>Historial de Usuario</h1>
        
        <!-- Formulario de búsqueda -->
        <form id="searchForm">
            <input type="text" id="searchTerm" placeholder="Buscar...">
            
            <select id="filterField">
                <option value="">Seleccionar Filtro</option>
                <option value="Nombre">Nombre</option>
                <option value="Documento">Documento</option>
                <option value="Material">Material</option>
                <option value="Referencia">Referencia</option>
                <option value="Placa">Placa</option>
                <option value="TipoVehiculo">Tipo de Vehículo</option>
            </select>
            
            <button type="submit">Buscar</button>
        </form>
    
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Documento</th>
                    <th>Material</th>
                    <th>Referencia</th>
                    <th>Placa</th>
                    <th>Tipo de Vehículo</th>
                    <th>Fecha y Hora</th>
                    <th>Movimiento</th>
                </tr>
            </thead>
            <tbody id="tablaHistorial">
            </tbody>
        </table>
    </div>
<script src="../public/js/historial.js"></script>
</body>
</html>
