<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Usuario</title>
    <link rel="stylesheet" href="../public/css/HistorialUsuario.css">
</head>
<body>
<div class="container">
    <div>
        <h1>Historial de Usuario</h1>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Documento</th>
                    <th>Material</th>
                    <th>Referencia</th>
                    <th>Placa</th>
                    <th>Tipo de Vehículo</th>
                    <th>Fecha y Hora</th>
                    <th>Movimiento</th>
                </tr>
            </thead>
            <tbody id="tablaHistorial">
            </tbody>
        </table>
    </div>
</div>
<script src="../public/js/historial.js"></script>
</body>
</html>
