<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Usuario</title>
    <link rel="stylesheet" href="../css/HistorialUsuario.css">
</head>
<body>
<div class="container">
    <div  >
        <h1>Historial de Usuario</h1>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Hora Ingreso</th>
                    <th>Hora Salida</th>
                    <th>Documento</th>
                    <th>ficha</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>6:45 am</td>
                    <td>6:45 pm</td>
                    <td>2345678</td>
                    <td>09876545</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
