<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Elemento</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link  rel="stylesheet" href="../public/css/RegistarElemento.css">
    
</head>
<body>
    <div class="cardElementos" id="elementos">
        <div class="container">
            <div class="icon-box" onclick="formulario('pc')">
                <img src="../public/img/1.png">
                <a href="#">Computador</a>
            </div>
            <div class="icon-box" onclick="formulario('automovil')">
                <img src="../public/img/3.png">
                <a href="#">Automovil</a>
            </div>
            <div class="icon-box" onclick="formulario('otro')">
                <img src="../public/img/2.png">
                <a href="#">Otro</a>
            </div>            
        </div>
    </div>
   
<div class="overlay" id="overlay" onclick="cerrarFormulario()"></div>
    <div class="card  " id="computadorForm" style="display: none; " >
        <button class="close-btn" onclick="cerrarFormulario()">X</button>
        <h2>Computador</h2>
        <hr>
        <form id ="formPC" onsubmit="event.preventDefault(); registrarComputador();">
            <strong>Referencia</strong>
            <div class="input-container">
                <i class="fas fa-user"></i>
                <input type="text" class="form-control" id="referencia" name="referencia" maxlength="45" placeholder="Ej:#########" requiered>
            </div>
            <strong>Marca</strong>
            <div class="input-container">
                <i class="fas fa-lock"></i>
                <input type="text" class="form-control" id="marca" name="marca" maxlength="45" placeholder="Ej:#########" requiered>
            </div>
            <strong>Observaciones</strong>
            <div class="input-container">
                <i class="fas fa-lock"></i>
                <input  type="text" placeholder="Ej:#########" class="form-control" id="observaciones" name="observaciones" maxlength="100" requiered>
            </div>
            <button type="submit" class="btn btn-primary mt-3" id="guardarBtn" >Guardar</button>
        </form>
    </div>

    <div class="card" id="automovilForm" style="display: none;">
        <button class="close-btn" onclick="cerrarFormulario()">X</button>
        <label for="tipoVehiculo"><strong>Tipo de Vehículo</strong></label>
    <select id="tipoVehiculo" name="tipoVehiculo" class="form-control">
        <option value="">Seleccione un tipo</option>
    </select>
        <h2>Vehiculo</h2>
        <hr>
        <form id="Formautomovil" >
            <strong>Placa</strong>
            <div class="input-container">
                <i class="fas fa-user"></i>
                <input type="text" class="form-control" id="Placa" name="Placa" maxlength="45" placeholder="Ej: #########" requiered>
            </div>
            <button  class="btn btn-primary mt-3" type="button" onclick="registrarVehiculo()" id="btnRegistrarVehiculo">Guardar</button>
            <div id="mensaje"></div>
        </form>
    </div>
    

    <div class="card" id="formOtro" style="display: none;">
        <button class="close-btn" onclick="cerrarFormulario()">X</button>
        <h2>Otro</h2>
        <hr>
        <form id ="formRegistro" onsubmit="event.preventDefault(); registrarOtro();" >
            <strong>Nombre del elemento</strong>
            <div class="input-container">
                <i class="fas fa-envelope"></i>
                <input type="text" class="form-control" id="NombreOtro" name="NombreOtro" maxlength="45" required  placeholder="Ej:#########" requiered>
            </div>
            <strong>Observaciones</strong>
            <div class="input-container">
                <i class="fas fa-lock"></i>
                <input  type="text" placeholder="Ej:#########" class="form-control" id="ObservacionesOtro" name="ObservacionesOtro" maxlength="100" requiered>  
            </div>
            <button type="submit" class="btn btn-primary mt-3">Guardar</button>
        </form>
        <p id="mensaje"></p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../public/js/RegistrarMaterial.js"></script>
    <script src="../public/js/RegistrarVehiculo.js"></script>
</body>
</html>
